@font-face {
    font-family:'Inter'; 
    src: url(Inter.ttf); 
}

body{
    font-family: 'Inter';
}


main{
    margin: 0 auto;
    max-width: 1000px;
}

.phone  {
    display: none; 
}

header{
    position: fixed; 
    top: 0; 
    width: 97.5%;
    background-color: white; 
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    text-decoration: none;
    border-bottom: 1px solid black;
    display: flex;
}

header a{
    font-size: small;
    color: black;
    text-decoration: none;
    padding: 9px;
    border-radius: 2px;
}

header a:hover{
    background-color:#f4f4f4 ;
}

#brandlogo{
    width: 100px;
    margin-right: 10px;
}

.navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}


.right_nav{
    display: flex;
    align-items: center;
}

#line{
    border-right: 2px solid gray;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#log_in {
    margin-right: 9px;
}



.nav_button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: small;
}


.nav_button:hover, .button:hover {
    background-color:#353535;
}

.button{
    background-color: black;
    color: white;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: small;
}
/*-------------First------column---------------*/
.first-column {
    display: flex;
    margin: 100px auto;
}

#first-columntext h1 {
    width: 350px;
    font-size: 40px; 
    margin-bottom: 0;
    
}

#first-columntext{
    flex-basis: 50%;
}

#first-columntext p{
    margin-top: 5px;
    margin-bottom: 19px; 
    width: 400px;
    
}
#first-columnimg {
    flex-basis: 50%;
}

.mini-text {
    color: #8f8f8f;
}

#heroimg {
    width: 100%;
}

.company-logo {
    display: flex;
    
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 18px;
    gap: 30px;
}

#logo {
    height: 24px;
}

/*---------------Second-------column----------*/
.second-column {
    border-bottom: 1px solid rgb(185, 185, 185); 
    margin: 100px auto;
    padding-bottom: 13px;
}

.second-column h1 {
    width: 951px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 2px;
}

.second-column h2 {
    margin-bottom: 0;
    font-size: 37px; 
    width: 480px;
}

.second-column p {
    margin-bottom: 30px;
    margin-top: 9px;
    width: 480px;
}

#second-columnimg{
    width: 95%;
    margin: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.face{
    width: 50px;
}

.faceimg{
    font-size: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}

/*-----------third---column------------*/
.third-column {
    margin: 100px auto;
    border-bottom: 1px solid gray;
    padding-bottom: 80px;
}

#third-columnhead {
    width: 560px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#third-columnhead h2{
    font-size: 35px;  
    margin-bottom: 0;
}

.third-columnlist {
    background-color: #f4f4f4;
    width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px;
    padding: 30px;
}
#head {
    color: black;
}

#row{
    color: gray;    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

#imglist{
    width: 20px;
}

#lastrow {
    display: flex;
    justify-content: space-between;
    color: gray;    
    border-bottom: none;
}

/*-------------fourth-column----------*/

.fourth-column {
    margin: 100px auto;
}

#box{
    align-items: center; 
    justify-content: center;    
    text-align: center;
}

#box h1 {
    font-size:35px;    
    margin-bottom: 0;
}

#box p {
    padding-bottom: 30px;
}

.emojiboxes {
    display: flex;
    text-align: center;
    align-items: center;    
    justify-content: center; 
}

#box1, #box2, #box3 {
    width: 400px;
    padding: 20px; 
    text-align: center; 
     
}

#box2 {
    border-left: 1px solid rgb(143, 140, 140 );    
    border-right: 1px solid rgb(143, 140, 140) ;
     
} 

.Learn-more {
    color: black;
}
.Learn-more:hover {
    color:#087fe7 ;
}

/*----------------------fifth-column-------------*/

.fifth-column h1 {
    text-align: center;
    margin-bottom: 50px;
}

.fifth-columncon {
    padding-bottom: 40px;    
    display: flex;
}

.fifth-column {
    margin-bottom: 0px;    
    margin: 100px auto;
}

#fifth-columnimg {
    width: 455px;
}

#badges {
    width: 95%;
    height: auto;
}
#fifth-columntext {
    width: 450px;
}

/*-----------sixth---column----------*/

.procent-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.try {
    text-align: center;
    padding: 50px;

}

.try h2 {
    font-size: 35px;
    margin-bottom: 0;
}

.try p{
    margin-top: 7px;
}

.number {
    margin: 0;    
    font-size: 55px;
    color: #666666;
}

/*------------------footer-------------*/
.footer {
    display: flex;
    justify-content: space-evenly;    
    padding-top: 60px;
    margin-top: 30PX;    
    border-top: 1px solid rgb(206, 203, 203);
}

#barkyfooter {
    margin-top: 18px;
}

#barkyfooter p{
    margin-bottom: 25px;    
    width: 300px;
}

#icon {
    margin-bottom: 20px;    
    width: 155px;
}

.apps {
    display: flex;
    margin-bottom: 70px;    
    width: 25px;
    gap: 10px;
}

#other {
    display: flex; 
    flex-direction: column; 
    gap: 6px;
    
}

.otherlist{
    display: flex;
    gap: 100px;
}


#other p {
    font-size: 16px;    
    margin-bottom: 1px;
}

.about {
    text-decoration: none;    
    margin-top: 8px; 
    color:#6d6d6d ;
}

.about:hover{
    text-decoration: underline; 
}

/*-----------------@Media----------*/

@media (max-width: 600px) {

    .navigation a {
        display: none; 
    }
    
    .right_nav {
        display: none; 
    }

    main{
        margin: 25px
    }
    
    .phone {
        display: flex; 
        align-items: center;        
        justify-content: flex-end; 
    }
    
    .phone img {
        padding: 9px;        
        width: 28px; 
    }

    .phone img:hover {
        border-radius: 2px;        
        background-color:#f4f4f4 ; 
    }

    header {
        padding: 10px;
        margin: 0;        
        position: static; 
        border-bottom: none; 
    }
    /*----------------------------------*/
    .first-column {
        margin: 50px auto;      
        display: flex;
        text-align: center;
        align-items: center;        
        flex-direction: column; 
    }

    #first-columntext h1{
        margin-top: 0;       
        font-size: 45px ;
        width: 512px;   
    }

    #first-columntext p{
        margin-bottom: 27px;        
        width: 512px;
        font-size: 18px;
    }

    #first-columnimg {
        order: -1; 
        width: 470px;
    } 
    
    .company-logo {
        margin-top: 79px;
    }
    /*------------------------------*/
    .second-column {
        border-bottom: 1px solid grey; 
        margin: 50px auto;              
        display: flex;
        flex-direction: column;  
        align-items: center;
     }

    .second-column h1 {
        font-size: 25px;
        width: 481px;
    }

    .second-column h2 {
        font-size: 35px;
        text-align: center;
    }

    .second-column p {
        width: 500px;
        text-align: center;
    }
    /*----------------------------------------*/
    #third-columnhead{
        width: auto; 
        padding: 0 15px; 
    }
    
    #third-columnhead p{
        margin-top: 8px;      
        width: 518px; 
        font-size: 18px;  
    }
    
    #third-columnhead h2 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .third-columnlist{
        width: auto;
    }

    
    #box h1 {
        font-size: 37px;
    }

    #box p{
        margin-top: 3px;
        margin-bottom: 0;
    }


    .emojiboxes {
        display: flex; 
         align-items: center; 
        text-align: center;       
        flex-direction: column; 
    }

    #box1, #box2, #box3 {
        width: 540px;
    }

    #box2 {
        border-right:none;
        border-left:none;
   } 

   .fifth-column h1 { 
        margin-bottom: 35px;
   } 
   .fifth-columncon {
        flex-direction: column; 
    }

    #fifth-columntext{
        width: 525px;
    }
    
    #badges {
        width: 526px;
    }

    .procent-container {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 40px; 
        text-align: center;
    }

    .footer {
        flex-direction: column; 
        padding: 10px;
        gap: 21px;
        padding-bottom: 60px;

    }

    #icon p {
        margin-top: 30px;
        width: 373px;
        margin-bottom:0;
        font-size: small;
    }

    #icon {
        margin-top: 20px;
    }


    .apps{
        margin-bottom: 0;
    }

    .otherlist {
        display: flex;
        justify-content: space-between;
        margin-right: 139px;
    
    }
    /*-------------------------------*/
       .fifth-columncon {
        flex-direction: column; 
    }

    #fifth-columntext{
        width: 525px;
    }
    
    .fifth-column h1 { 
        margin-bottom: 35px;
    } 

    .procent-container {
        gap: 40px;
        display: grid; 
        grid-template-columns: 1fr; 
        text-align: center;
    }

    #badges {
        width: 526px;
    }
    /*---------------------------*/

    .footer {
        gap: 21px;
        padding-bottom: 60px;        
        flex-direction: column; 
        padding: 10px;
    }

    #icon {
        margin-top: 20px;
    }

    #icon p {
        margin-bottom:0;
        font-size: small;        
        margin-top: 30px;
        width: 373px;
    }

    .apps{
        margin-bottom: 0;
    }

    .otherlist {
        display: flex;
        margin-right: 139px;        
        justify-content: space-between;
    }

}



