@font-face {
    font-family:'Inter'; 
    src: url(Inter.ttf); 
}

body{
    font-family: 'Inter';
}


main{
    margin: 0 auto;
    max-width: 1000px;
}

.phone  {
    display: none; 
}

header{
    position: fixed; 
    top: 0; 
    width: 97.5%;
    background-color: white; 
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    text-decoration: none;
    border-bottom: 1px solid black;
    display: flex;
}

header a{
    font-size: small;
    color: black;
    text-decoration: none;
    padding: 9px;
    border-radius: 2px;
}

header a:hover{
    background-color:#f4f4f4 ;
}

#brandlogo{
    width: 100px;
    margin-right: 10px;
}

.navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}


.right_nav{
    display: flex;
    align-items: center;
}

#line{
    border-right: 2px solid gray;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#log_in {
    margin-right: 9px;
}



.nav_button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: small;
}


.nav_button:hover, .button:hover {
    background-color:#353535;
}

.button{
    background-color: black;
    color: white;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: small;
}
/*-------------First------column---------------*/
.first-column {
    display: flex;
    margin: 100px auto;
}

#first-columntext h1 {
    width: 350px;
    font-size: 40px; 
    margin-bottom: 0;
    
}

#first-columntext{
    flex-basis: 50%;
}

#first-columntext p{
    margin-top: 5px;
    margin-bottom: 19px; 
    width: 400px;
    
}
#first-columnimg {
    flex-basis: 50%;
}

.mini-text {
    color: #8f8f8f;
}

#heroimg {
    width: 100%;
}

.company-logo {
    display: flex;
    
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 18px;
    gap: 30px;
}

#logo {
    height: 24px;
}

/*---------------Second-------column----------*/
.second-column {
    border-bottom: 1px solid rgb(185, 185, 185); 
    margin: 100px auto;
    padding-bottom: 13px;
}

.second-column h1 {
    width: 951px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 2px;
}

.second-column h2 {
    margin-bottom: 0;
    font-size: 37px; 
    width: 480px;
}

.second-column p {
    margin-bottom: 30px;
    margin-top: 9px;
    width: 480px;
}

#second-columnimg{
    width: 95%;
    margin: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.face{
    width: 50px;
}

.faceimg{
    font-size: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}

/*-----------third---column------------*/
.third-column {
    margin: 100px auto;
    border-bottom: 1px solid gray;
    padding-bottom: 80px;
}

#third-columnhead {
    width: 560px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#third-columnhead h2{
    font-size: 35px;  
    margin-bottom: 0;
}

.third-columnlist {
    background-color: #f4f4f4;
    width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px;
    padding: 30px;
}
#head {
    color: black;
}

#row{
    color: gray;    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

#imglist{
    width: 20px;
}

#lastrow {
    display: flex;
    justify-content: space-between;
    color: gray;    
    border-bottom: none;
}

/*-------------fourth-column----------*/

.fourth-column {
    margin: 100px auto;
}

#box{
    align-items: center; 
    justify-content: center;    
    text-align: center;
}

#box h1 {
    font-size:35px;    
    margin-bottom: 0;
}

#box p {
    padding-bottom: 30px;
}

.emojiboxes {
    display: flex;
    text-align: center;
    align-items: center;    
    justify-content: center; 
}

#box1, #box2, #box3 {
    width: 400px;
    padding: 20px; 
    text-align: center; 
     
}

#box2 {
    border-left: 1px solid rgb(143, 140, 140 );    
    border-right: 1px solid rgb(143, 140, 140) ;
     
} 

.Learn-more {
    color: black;
}
.Learn-more:hover {
    color:#087fe7 ;
}

/*----------------------fifth-column-------------*/

.fifth-column h1 {
    text-align: center;
    margin-bottom: 50px;
}

.fifth-columncon {
    padding-bottom: 40px;    
    display: flex;
}

.fifth-column {
    margin-bottom: 0px;    
    margin: 100px auto;
}

#fifth-columnimg {
    width: 455px;
}

#badges {
    width: 95%;
    height: auto;
}
#fifth-columntext {
    width: 450px;
}




